
/*
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 */

@font-face {
  font-family: "foundation-icons";
  src: url("//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.eot");
  src: url("//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.woff") format("woff"),
       url("//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.ttf") format("truetype"),
       url("//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ---------- */

body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, p, ul {
    width: 90%;
    max-width: 660px;
    margin: auto auto 22px auto;
    font-weight: normal;
    text-align: center;
    line-height: 1.5em;
    color: #333;
}

a {
    color: #009fb2;
    text-decoration: none;
    transition: color .2s, text-decoration .2s;
    -moz-transition: color .2s, text-decoration .2s;
    -webkit-transition: color .2s, text-decoration .2s;
}
    a:hover {
        color: #72C9D4;
    }

header {
    position: relative;
    padding: 40px 0px;
    border-top: 4px solid #2295CE;
    background: transparent url(../images/grid.png) repeat;
}
    header:before {
        content: "";
        position: absolute;
        top: -4px;
        left: 0px;
        right: 0px;
        height: 4px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#a3dce4), to(#006b87));
        background-image: -webkit-linear-gradient(left, #a3dce4, #006b87);
        background-image: -moz-linear-gradient(left, #a3dce4, #006b87);
        background-image: -o-linear-gradient(left, #a3dce4, #006b87);
    }

    .logo {
        width: 50%;
        max-width: 200px;
        margin: 0px auto 40px auto;
    }
        .logo object, .logo img {
            width: 100%;
            height: auto;
        }

    h1 {
        font-size: 30px;
        font-weight: 700;
    }

section {
    position: relative;
    z-index: 1;
    padding: 40px 0px 36px 0px;
    background-color: #E6F5F7;
    border-top: 1px solid #AEE3EB;
    border-bottom: 1px solid #AEE3EB;
}
    h2 {
        max-width: 600px;
        margin-bottom: 32px;
        font-size: 24px;
    }

    h3 {
        width: 75%;
        max-width: 420px;
        padding: 9px 15px;
        color: #fff;
        background-color: #1FAEBF;
        border-radius:15px;
        font-size: 24px;
        font-weight: 700;
    }

    .email {
        font-size: 20px;
        font-weight: 700;
    }

    ul { padding: 0px; }
        ul li {
            display: inline-block;
            margin: 0px 15px 0px 0px;
            padding: 0px;
            list-style: none;
            font-size: 50px;
            line-height: 38px;
        }
        ul li:last-child { margin-right: 0px; }

        ul a {  color: #96ABB0; }
            ul a.github:hover {  color: #333; }
            ul a.linkedin:hover {  color: #1b86bd; }
            ul a.twitter:hover {  color: #55acee; }

        ul i:before {
            font-family: "foundation-icons";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 0.6;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            text-decoration: inherit;
        }
            ul .github i:before { content: "\f1c9"; }
            ul .linkedin i:before { content: "\f1d0"; }
            ul .twitter i:before { content: "\f1e4"; }

footer { padding: 25px 0px; }
    footer p {
        font-size: 13px;
        color: #888;
        margin: 0px auto;
    }

header > *:last-child,
section > *:last-child {
    margin-bottom: 0px;
}

@media only screen and (max-device-width : 568px) {
    h1 { font-size: 24px; }
    h2 { font-size: 18px; }
}