

body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #1B78A6;
    text-decoration: none;
    transition: color .2s, text-decoration .2s;
   -moz-transition: color .2s, text-decoration .2s;
   -webkit-transition: color .2s, text-decoration .2s;
}
    a:hover {
        color: #3DA5D9;
    }

h1, h2, h3, p, .contact-links {
    width: 90%;
    max-width: 660px;
    margin: auto auto 22px auto;
    font-weight: normal;
    text-align: center;
    line-height: 1.5em;
    color: #333;
}

header {
    position: relative;
    padding: 40px 0px;
    border-top: 4px solid #2295CE;
}
    header:before {
        content: "";
        position: absolute;
        top: -3px;
        left: 0px;
        right: 0px;
        height: 4px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(168, 207, 229)), to(rgb(34, 149, 206)));
        background-image: -webkit-linear-gradient(left, rgb(168, 207, 229), rgb(34, 149, 206));
        background-image: -moz-linear-gradient(left, rgb(168, 207, 229), rgb(34, 149, 206));
        background-image: -o-linear-gradient(left, rgb(168, 207, 229), rgb(34, 149, 206));
    }

    .logo {
        width: 50%;
        max-width: 200px;
        margin: 0px auto 40px auto;
    }
        .logo object, .logo img {
            width: 100%;
            height: auto;
        }
    h1 {
        font-size: 24px;
        font-weight: 700;
    }

main {
    padding: 40px 0px;
    background-color: #EBF2F7;
}
    h2 { font-size: 20px; }

    h3 {
        width: 75%;
        max-width: 420px;
        padding: 9px 15px;
        background-color: #4AA6D4;
        color: #fff;
        border-radius:15px;
        font-size: 24px;
        font-weight: 600;
    }

    .contact-links { padding: 0px; }
        .contact-links li {
            margin: 0px 0px 5px 0px;
            padding: 0px;
            list-style: none;
            font-size: 20px;
            font-weight: 600;
        }
        .contact-links li:last-child { margin-bottom: 0px; }

footer { padding: 25px 0px; }
    footer p {
        font-size: 13px;
        color: #888;
        margin: 0px auto;
    }

header > *:last-child,
main > *:last-child {
    margin-bottom: 0px;
}

@media only screen and (min-width: 570px) {
    h1 { font-size: 30px; }
}